In [87]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [88]:
columns = ["lettr", "x-box", "y-box", "width", "height", "onpix", "x-bar","y-bar", "x2bar", "y2bar", "xybar", "x2ybr", "xy2br", "x-ege", "xegvy","y-ege", "yegvx"]

In [89]:
df = pd.read_csv('/content/letter-recognition.data',names=columns)

In [90]:
df

,lettr,x-box,y-box,width,height,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [91]:
df.shape

(20000, 17)

In [93]:
x = df.drop(df.columns[0],axis = 1).values

In [94]:
y = df[df.columns[0]].values

In [96]:
x.shape

(20000, 16)

In [97]:
y.shape

(20000,)

In [98]:
np.unique(y)

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
      dtype=object)

In [99]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [100]:
x_train[0]

array([ 4,  9,  5,  7,  3,  5,  7,  6,  5, 10,  8, 10,  2,  8,  5,  9])

In [101]:
y_train[0]

'G'

In [102]:
class_names = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

In [103]:
x_test[10]

array([ 2, 10,  4,  7,  1, 10, 14,  1,  6,  4, 11,  9,  0,  8,  0,  8])

In [104]:
y_test[10]

'T'

In [105]:
x_train = x_train/255
x_test = x_test/255

In [106]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train)
y_test = encoder.fit_transform(y_test)

In [107]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [108]:
model = Sequential()
model.add(Dense(512,activation='relu',input_shape = (x_train[0].shape)))
model.add(Dropout(0.2))
model.add(Dense(256,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(26,activation = 'softmax'))
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 512)               8704

 dropout_6 (Dropout)         (None, 512)               0

 dense_10 (Dense)            (None, 256)               131328

 dropout_7 (Dropout)         (None, 256)               0

 dense_11 (Dense)            (None, 26)                6682

=================================================================
Total params: 146,714
Trainable params: 146,714
Non-trainable params: 0
_________________________________________________________________

In [109]:
model.fit(x_train,y_train,epochs = 50,batch_size=128,verbose=1,validation_data=(x_test,y_test))

Epoch 1/50
125/125 [==============================] - 2s 9ms/step - loss: 3.1467 - accuracy: 0.1318 - val_loss: 2.8118 - val_accuracy: 0.2570
Epoch 2/50
125/125 [==============================] - 1s 7ms/step - loss: 2.3955 - accuracy: 0.3124 - val_loss: 2.0901 - val_accuracy: 0.4065
Epoch 3/50
125/125 [==============================] - 1s 7ms/step - loss: 1.9553 - accuracy: 0.4116 - val_loss: 1.7667 - val_accuracy: 0.4865
Epoch 4/50
125/125 [==============================] - 1s 7ms/step - loss: 1.7427 - accuracy: 0.4649 - val_loss: 1.6240 - val_accuracy: 0.5148
Epoch 5/50
125/125 [==============================] - 1s 8ms/step - loss: 1.6269 - accuracy: 0.5006 - val_loss: 1.5102 - val_accuracy: 0.5558
Epoch 6/50
125/125 [==============================] - 1s 8ms/step - loss: 1.5323 - accuracy: 0.5356 - val_loss: 1.4491 - val_accuracy: 0.5775
Epoch 7/50
125/125 [==============================] - 1s 7ms/step - loss: 1.4645 - accuracy: 0.5592 - val_loss: 1.3640 - val_accuracy: 0.5982
Epoch 8/50
125/125 [==============================] - 1s 7ms/step - loss: 1.3976 - accuracy: 0.5795 - val_loss: 1.3129 - val_accuracy: 0.6233
Epoch 9/50
125/125 [==============================] - 1s 10ms/step - loss: 1.3421 - accuracy: 0.5997 - val_loss: 1.2556 - val_accuracy: 0.6378
Epoch 10/50
125/125 [==============================] - 1s 11ms/step - loss: 1.2923 - accuracy: 0.6130 - val_loss: 1.2088 - val_accuracy: 0.6465
Epoch 11/50
125/125 [==============================] - 1s 7ms/step - loss: 1.2381 - accuracy: 0.6298 - val_loss: 1.1740 - val_accuracy: 0.6572
Epoch 12/50
125/125 [==============================] - 1s 7ms/step - loss: 1.1995 - accuracy: 0.6419 - val_loss: 1.1180 - val_accuracy: 0.6735
Epoch 13/50
125/125 [==============================] - 1s 7ms/step - loss: 1.1582 - accuracy: 0.6564 - val_loss: 1.0763 - val_accuracy: 0.6740
Epoch 14/50
125/125 [==============================] - 1s 8ms/step - loss: 1.1168 - accuracy: 0.6681 - val_loss: 1.0475 - val_accuracy: 0.6930
Epoch 15/50
125/125 [==============================] - 1s 8ms/step - loss: 1.0795 - accuracy: 0.6803 - val_loss: 1.0053 - val_accuracy: 0.7007
Epoch 16/50
125/125 [==============================] - 1s 8ms/step - loss: 1.0516 - accuracy: 0.6851 - val_loss: 0.9701 - val_accuracy: 0.7168
Epoch 17/50
125/125 [==============================] - 1s 7ms/step - loss: 1.0199 - accuracy: 0.7001 - val_loss: 0.9391 - val_accuracy: 0.7222
Epoch 18/50
125/125 [==============================] - 1s 8ms/step - loss: 0.9894 - accuracy: 0.7057 - val_loss: 0.9177 - val_accuracy: 0.7232
Epoch 19/50
125/125 [==============================] - 1s 8ms/step - loss: 0.9676 - accuracy: 0.7119 - val_loss: 0.8884 - val_accuracy: 0.7370
Epoch 20/50
125/125 [==============================] - 1s 8ms/step - loss: 0.9420 - accuracy: 0.7194 - val_loss: 0.8725 - val_accuracy: 0.7445
Epoch 21/50
125/125 [==============================] - 1s 7ms/step - loss: 0.9163 - accuracy: 0.7280 - val_loss: 0.8551 - val_accuracy: 0.7360
Epoch 22/50
125/125 [==============================] - 3s 21ms/step - loss: 0.9004 - accuracy: 0.7330 - val_loss: 0.8275 - val_accuracy: 0.7513
Epoch 23/50
125/125 [==============================] - 2s 14ms/step - loss: 0.8772 - accuracy: 0.7374 - val_loss: 0.8010 - val_accuracy: 0.7648
Epoch 24/50
125/125 [==============================] - 2s 14ms/step - loss: 0.8620 - accuracy: 0.7408 - val_loss: 0.7891 - val_accuracy: 0.7665
Epoch 25/50
125/125 [==============================] - 1s 7ms/step - loss: 0.8390 - accuracy: 0.7451 - val_loss: 0.7773 - val_accuracy: 0.7653
Epoch 26/50
125/125 [==============================] - 1s 8ms/step - loss: 0.8275 - accuracy: 0.7478 - val_loss: 0.7513 - val_accuracy: 0.7795
Epoch 27/50
125/125 [==============================] - 1s 8ms/step - loss: 0.8129 - accuracy: 0.7549 - val_loss: 0.7416 - val_accuracy: 0.7793
Epoch 28/50
125/125 [==============================] - 1s 8ms/step - loss: 0.7944 - accuracy: 0.7570 - val_loss: 0.7372 - val_accuracy: 0.7730
Epoch 29/50
125/125 [==============================] - 1s 7ms/step - loss: 0.7778 - accuracy: 0.7650 - val_loss: 0.7273 - val_accuracy: 0.7778
Epoch 30/50
125/125 [==============================] - 1s 8ms/step - loss: 0.7685 - accuracy: 0.7659 - val_loss: 0.6867 - val_accuracy: 0.8018
Epoch 31/50
125/125 [==============================] - 1s 7ms/step - loss: 0.7552 - accuracy: 0.7692 - val_loss: 0.6785 - val_accuracy: 0.7947
Epoch 32/50
125/125 [==============================] - 1s 10ms/step - loss: 0.7426 - accuracy: 0.7726 - val_loss: 0.6835 - val_accuracy: 0.7883
Epoch 33/50
125/125 [==============================] - 1s 11ms/step - loss: 0.7225 - accuracy: 0.7771 - val_loss: 0.6471 - val_accuracy: 0.8077
Epoch 34/50
125/125 [==============================] - 1s 8ms/step - loss: 0.7119 - accuracy: 0.7841 - val_loss: 0.6414 - val_accuracy: 0.8067
Epoch 35/50
125/125 [==============================] - 1s 7ms/step - loss: 0.6976 - accuracy: 0.7851 - val_loss: 0.6143 - val_accuracy: 0.8195
Epoch 36/50
125/125 [==============================] - 1s 8ms/step - loss: 0.6838 - accuracy: 0.7923 - val_loss: 0.6116 - val_accuracy: 0.8142
Epoch 37/50
125/125 [==============================] - 1s 7ms/step - loss: 0.6768 - accuracy: 0.7940 - val_loss: 0.6144 - val_accuracy: 0.8130
Epoch 38/50
125/125 [==============================] - 1s 7ms/step - loss: 0.6691 - accuracy: 0.7964 - val_loss: 0.5803 - val_accuracy: 0.8295
Epoch 39/50
125/125 [==============================] - 1s 7ms/step - loss: 0.6538 - accuracy: 0.7967 - val_loss: 0.5748 - val_accuracy: 0.8307
Epoch 40/50
125/125 [==============================] - 1s 7ms/step - loss: 0.6400 - accuracy: 0.8026 - val_loss: 0.5643 - val_accuracy: 0.8330
Epoch 41/50
125/125 [==============================] - 1s 8ms/step - loss: 0.6311 - accuracy: 0.8041 - val_loss: 0.5569 - val_accuracy: 0.8365
Epoch 42/50
125/125 [==============================] - 1s 8ms/step - loss: 0.6205 - accuracy: 0.8083 - val_loss: 0.5394 - val_accuracy: 0.8430
Epoch 43/50
125/125 [==============================] - 1s 8ms/step - loss: 0.6124 - accuracy: 0.8119 - val_loss: 0.5258 - val_accuracy: 0.8450
Epoch 44/50
125/125 [==============================] - 1s 8ms/step - loss: 0.6024 - accuracy: 0.8157 - val_loss: 0.5238 - val_accuracy: 0.8438
Epoch 45/50
125/125 [==============================] - 1s 11ms/step - loss: 0.5976 - accuracy: 0.8153 - val_loss: 0.5120 - val_accuracy: 0.8493
Epoch 46/50
125/125 [==============================] - 1s 11ms/step - loss: 0.5828 - accuracy: 0.8178 - val_loss: 0.5071 - val_accuracy: 0.8533
Epoch 47/50
125/125 [==============================] - 1s 8ms/step - loss: 0.5802 - accuracy: 0.8225 - val_loss: 0.4986 - val_accuracy: 0.8558
Epoch 48/50
125/125 [==============================] - 1s 8ms/step - loss: 0.5631 - accuracy: 0.8277 - val_loss: 0.4998 - val_accuracy: 0.8482
Epoch 49/50
125/125 [==============================] - 1s 8ms/step - loss: 0.5544 - accuracy: 0.8283 - val_loss: 0.4799 - val_accuracy: 0.8562
Epoch 50/50
125/125 [==============================] - 1s 7ms/step - loss: 0.5513 - accuracy: 0.8288 - val_loss: 0.4726 - val_accuracy: 0.8643

In [110]:
x_test[10]

array([0.00784314, 0.03921569, 0.01568627, 0.02745098, 0.00392157,
       0.03921569, 0.05490196, 0.00392157, 0.02352941, 0.01568627,
       0.04313725, 0.03529412, 0.        , 0.03137255, 0.        ,
       0.03137255])

In [111]:
y_test[10]

19

In [112]:
predictions = model.predict(x_test)

125/125 [==============================] - 0s 1ms/step

In [113]:
index = 10
print(predictions[index])
final_value=np.argmax(predictions[index])
print("Actual label :",y_test[index])
print("Predicted label",final_value)
print("Class A-Z",class_names[final_value])

[5.3781507e-10 3.1128798e-24 1.8746069e-10 2.7172772e-17 3.1119662e-16
 1.6934453e-06 4.0577216e-21 2.7337544e-11 1.0114093e-03 1.7807898e-10
 4.3754293e-12 2.8943522e-14 1.1824132e-24 9.8803534e-14 3.8782319e-21
 3.3620906e-13 1.9293113e-15 7.8133622e-26 4.2456719e-10 9.9836242e-01
 9.2423527e-11 1.3952105e-06 1.3722227e-20 3.4882592e-05 5.8824924e-04
 5.2670685e-22]
Actual label : 19
Predicted label 19
Class A-Z T